



<!-- START HOMEPAGE DESIGN AREA -->
    <header id="home" class="welcome-area site-header">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                  <div class="col-sm-3">
                        <!-- START LOGO DESIGN AREA -->
                     <!--    <div class="logo">
                            <a href="/"><img src="assets/images/Logo.png"><p>Michael J. Stokes</p></a>
                        </div> -->
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-sm-9">
                        <!-- START MENU DESIGN AREA -->
                         <!-- <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header"> 
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="nav-toggle hidden-xs">
                                    <button class="toggle-btn wow fadeInRight">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="#home">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#about">About</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#project">project</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="http://stokesblog.herokuapp.com">blog</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        
                        <!-- END MENU DESIGN AREA -->














    <!-- START PROJECT SECTION DESIGN AREA -->
    <section id="project" class="project-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2> My projects</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="project-list">
                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-one" class="single-project wow fadeInUp" data-wow-delay="0.2s">
                            <img src="assets/images/projects/name-that-tube.jpg" alt="Name That Tube">
                           <p class="project-title"> Name That Tube</p>
                            <p>A Ruby on Rails trivia game application designed for users to test their knowledge of music, games, TV, and movies by identifying specific YouTube videos as their clue for answers.</p>
                            <hr>
                            <p class="project-title">Ruby on Rails PostgreSQL HTML5 CSS Bootstrap</p>

                         <!-- ............................................   THE BUTTONS................................. -->
                            <a href="http://namethattube.herokuapp.com" target="_blank" class="project-link">PROJECT LINK</a> <a href="https://github.com/MJStokes86/Name-That-Tube" class="project-link" target="_blank">< / ></a>
                           <!--  .............................................THE BUTTONS ...................................-->
                            
                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->


                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-two" class="single-project wow fadeInUp" data-wow-delay="0.4s">
                            <img src="assets/images/projects/music-forum.jpg" alt="Music Forum">
                           <p class="project-title">Music Forum</p>
                            <p>A simple Node/Express application where users can post music related topics and comments according to their personal interests.</p>
                            <hr>
                            <p class="project-title">HTML CSS3 Node Express Mustache.js SQLite3</p>

                        <!--  .............................................THE BUTTONS ...................................-->

                            <a href="http://music-forum.herokuapp.com/" class="project-link" target="_blank">PROJECT LINK</a>
                            <a href="https://github.com/MJStokes86/Music-Forum" class="project-link" target="_blank">< / ></a>
                        <!--  .............................................THE BUTTONS ...................................-->

                           
                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->


                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-three" class="single-project wow fadeInUp" data-wow-delay="0.6s">
                            <img src="assets/images/projects/nlm.jpg" alt="NLM Marketing">
                           <p class="project-title">NLM Marketing</p>
                            <p>My first freelance project for a marketing company based in the Northeast that specializes in grocery goods.</p>
                            <hr>
                            <p class="project-title">HTML5  CSS3  jQuery Ruby Sinatra Bootstrap</p>

                            <!--  .............................................THE BUTTONS ...................................-->

                             
                            <a href="http://nlm-marketing.herokuapp.com/" class="project-link" target="_blank">PROJECT LINK</a>
                            <a href="https://github.com/MJStokes86/NLM-Marketing" class="project-link" class="project-link" target="_blank">< / ></a>

                             <!--  .............................................THE BUTTONS ...................................-->

                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->


                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-four" class="single-project wow fadeInUp" data-wow-delay="0.6s">
                            <img src="assets/images/projects/victoria.jpg" alt="">
                            <p class="project-title">The Victoria</p>
                            <p>A bootstrap one-page portfolio theme site suitable for the female model.</p>
                            <hr>
                            <p class="project-title">HTML5 CSS3 JavaScript Bootstrap PhotoShop</p>

                         <!--  .............................................THE BUTTONS ...................................-->

                            <a href="http://victoriasite.herokuapp.com/" class="project-link" target="_blank">PROJECT LINK</a>
                            <a href="https://github.com/MJStokes86/Victoria-Theme-II" class="project-link" target="_blank">< / ></a>

                        <!--  .............................................THE BUTTONS ...................................-->

                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->

                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-five" class="single-project wow fadeInUp" data-wow-delay="0.2s">
                            <img src="assets/images/projects/stokes-blog.jpg" alt="">
                            <p class="project-title">Rails Blog</p>
                            <p>A simple ruby on rails blogging application that allows users to post content of their desires.</p>
                            <hr>
                            <p class="project-title">Ruby on Rails PostgreSQL HTML5 CSS Devise</p>

                        <!--  .............................................THE BUTTONS ...................................-->

                            <a href="http://stokesblog.herokuapp.com/" class="project-link" target="_blank">PROJECT LINK</a>
                            <a href="https://github.com/MJStokes86/Rails-Blog" class="project-link" target="_blank">< / ></a>

                        <!--  .............................................THE BUTTONS ...................................-->

                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->

                         <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-six" class="single-project wow fadeInUp" data-wow-delay="0.2s">
                            <img src="assets/images/projects/portfolioI.jpg" alt="">
                            <p class="project-title">Portfolio Site I
                            <p>The first portfolio version I built with Ruby Sinatra.</p>
                            <hr>
                            <p class="project-title">Sinatra HTML5 CSS Bootstrap Pure Bootstrap</p>

                            <!--  .............................................THE BUTTONS ...................................-->

                            <a href="http://mjstokes86.herokuapp.com/" class="project-link" target="_blank">PROJECT LINK</a>
                            <a href="https://github.com/MJStokes86/Portfolio-Site" class="project-link" target="_blank">< / ></a>

                             <!--  .............................................THE BUTTONS ...................................-->

                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->

                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-seven" class="single-project wow fadeInUp" data-wow-delay="0.2s">
                            <img src="assets/images/projects/portfolioII.bmp" alt="">
                           <p class="project-title">Portfolio Site II</p>
                            <p>The second portfolio site I built with Ruby Sinatra. One page theme. Complete with owl-carousel slider. </p>
                            <hr>
                            <p class="project-title">Sinatra JavaScript  HTML5 CSS3 Bootstrap  jQuery</p>

                             <!--  .............................................THE BUTTONS ...................................-->

                            <a href="http://mjstokes.herokuapp.com/" class="project-link" target="_blank">PROJECT LINK</a>
                            <a href="https://github.com/MJStokes86/Portfolio-Site-II" class="project-link" target="_blank">< / ></a>

                            <!--  .............................................THE BUTTONS ...................................-->

                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->

                        <!-- START SINGLE PROJECT DESIGN AREA -->
                        <div id="project-eight" class="single-project wow fadeInUp" data-wow-delay="0.2s">
                            <img src="assets/images/projects/portfolioIII.jpg" alt="">
                           <p class="project-title">Portfolio Site III</p>
                            <p>A full-stack portfolio site built with WordPress.</p>
                            <hr>
                            <p class="project-title">WordPress PHP MySQL HTML5 CSS3 JavaScript</p>

                            <!--  .............................................THE BUTTONS ...................................-->

<!--                             <a href="#" class="project-link" target="_blank">PROJECT LINK</a>
 -->                            <a href="https://github.com/MJStokes86/Portfolio-Site-III" class="project-link" target="_blank">< / ></a>
                            <!--  .............................................THE BUTTONS ...................................-->

                        </div>
                        <!-- / END SINGLE PROJECT DESIGN AREA -->


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / END PROJECT PAGE DESIGN AREA -->


      <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- START KEY SKILL DESIGN AREA -->
                    <div class="my-skill">
                        <!-- START SINGLE PROGRESS BAR DESIGN AREA -->
                        <div class="single-progress-bar">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="progress-bar-text"> Responsive and Mobile Ready
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:82%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / END SINGLE PROGRESS BAR DESIGN AREA -->
                        <!-- START SINGLE PROGRESS BAR DESIGN AREA -->
                        <div class="single-progress-bar">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="progress-bar-text">Clean Design
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        / END SINGLE PROGRESS BAR DESIGN AREA
                        <!-- START SINGLE PROGRESS BAR DESIGN AREA -->
                        <div class="single-progress-bar">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="progress-bar-text">Quick Turn Around Time
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / END SINGLE PROGRESS BAR DESIGN AREA -->
                        <!-- START SINGLE PROGRESS BAR DESIGN AREA -->
                        <div class="single-progress-bar">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="progress-bar-text">100% Full Support
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- / END SINGLE PROGRESS BAR DESIGN AREA -->
                    </div>
                    <!-- / END KEY SKILL DESIGN AREA -->
                </div>
            </div>

